  <%-include('partials/header')-%>
    <link rel="stylesheet" href="css/stylesDashboard.css">


  <body>


<nav class="left-side">
  <div class="nav-bar-items">

 <a class= "start-button"href="/index">Start</a>
 <a class ="nav-item" href="/writings">Past Writings</a>
 <a class ="nav-item"href="">Journal</a>

  </div>


</nav>
<nav class = "top">
  <h1 class="name"><i class="fas fa-cubes"></i>WritersBlock</h1>
  <a class ="start-button logout-button" href="/logout">Logout</a>
</nav>
<div class="right-side">
  <div class="feed">

<%writings = writings.reverse() %>



<% writings.forEach(function(writing){ %>
  <div class="shared-writing">
    <h1 name = "title" ><%=writing.title%></h1>
    <% link = writing._id%>
    <%console.log(link)%>
    <p name = "username" > <%=writing.user%></p>
    <p name = "content"><%=writing.content%> </p>
    <p name = "date"><%=writing.date%></p>
    <a href="/view/<%=link%>">View</a>



  </div>
<%})%>

  </div>
</div>
</body>
</html>


<!-- client id : 858351013669-5rnph2e3rt4gghm4qa6gabfu7f591cts.apps.googleusercontent.com
client secret: aAvosNTWRXWouwI2RyARdfQN -->
