  <%-include('partials/header')-%>
    <link rel="stylesheet" href="css/dashboardStyles.css">
  <body>



    <div class = "top">
      <h1 class="name"><i class="fas fa-cubes"></i>WritersBlock</h1>
      <a class ="button-style logout-button" href="/logout">Log Out</a>
    </div>

  <div class="nav-bar-items">
      <h1 class="fas fa-cubes block"></h1>
      <a class= "button-style start-button nav-item" href="/index">  Start</a>
      <a class ="nav-item" href="/writings">Past Entries</a>
      <a class ="nav-item"href="/freeJournaling">Draft</a>
  </div>






<div class="right-side">
<h1>HELLO</h1>
    <div class="feed">


<%writings = writings.reverse() %>



<% writings.forEach(function(writing){ %>
  <div class="shared-writing">
    <h1 name = "title" ><%=writing.title%></h1>
    <% link = writing._id%>
    <%console.log(link)%>
    <p name = "username" > <%=writing.user%></p>
    <p name = "content"><%=writing.content%> </p>
    <p name = "date"><%=writing.date%></p>
    <a class = "view-button button-style" name="button" href="/view/<%=link%>">View</a>

  </div>
<%})%>

  </div>
</div>

</body>


<!-- client id : 858351013669-5rnph2e3rt4gghm4qa6gabfu7f591cts.apps.googleusercontent.com
client secret: aAvosNTWRXWouwI2RyARdfQN -->
