<%-include('partials/header')-%>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/journals.css">

  <body>

      <div class="big-container">


        <div class="header-container">

            <a href="/dashboard" class="title"><i class="fas fa-cubes"></i>WritersBlock</a>

        </div>


        <div class="body-container">
          <div class="page-title">
            <h1>Past Journal Entries</h1>

          </div>

<% pastWritings = pastWritings.reverse() %>
  <%pastWritings.forEach(function(w){ %>
    <div class="shared-writing">
      <h1><%=w.title%></h1>
      <p class= "journal-date"><%=w.date%></p>
      <p><%=w.content%></p>
      <% link = w._id%>
      <%console.log(link) %>
      <a class ="edit finish-button" href="/journal/<%=link%>"><i class="fas fa-pencil-alt"></i>Edit</a>

    </div>
  <%})%>

 </div>
 </div>
</body>
